<form action="" method="post">
	<div class"form-group">
		<input type="text" name="new_url" id="new_url" value="{$url}">
		<small>Insert new social network url</small>
	</div>
	
	<div class"form-group">
		<input type="text" name="new_time" id="new_time" value="{$time}">
		<small>Insert new cookie time expiration in days</small>
	</div>
	
	<div class"form-group">
		<input type="text" name="new_phrase" id="new_phrase" value="{$phrase}">
		<small>Insert new phrase</small>
	</div>
	<button type="submit" name="submitRemember">Enter</button>
</form>
